<a href="https://colab.research.google.com/github/bugeki/ML/blob/main/military_power_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings('ignore')
#pd.set_option('display.max_rows', 500)
from sklearn.cluster import KMeans

from yellowbrick.cluster import KElbowVisualizer
from sklearn.metrics import silhouette_score
from yellowbrick.cluster import SilhouetteVisualizer
from sklearn.metrics import adjusted_rand_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import AgglomerativeClustering

In [5]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ML/Ass 4/World military power.xlsx",header=[0,1])
df.head()

       2020 ranking                               Airforce Strength  \
  Military Strength Military Strength Power Index Aircraft Strength
0       Afghanistan                        1.3444       Afghanistan
1           Albania                        2.3137           Albania
2           Algeria                        0.4659           Algeria
3            Angola                        0.8379            Angola
4         Argentina                        0.6521         Argentina

                                                        \
  Aircraft Strength value Fighter/Interceptor Strength
0                   260.0                  Afghanistan
1                    19.0                      Albania
2                   551.0                      Algeria
3                   295.0                       Angola
4                   227.0                    Argentina

                                                               \
  Fighter/Interceptor Strength value Attack Aircraft Strength
0                                0.0              Afghanistan
1                                0.0                  Albania
2                              103.0                  Algeria
3                               72.0                   Angola
4                               24.0                Argentina

                                                                    \
  Attack Aircraft Strength value Transport Aircraft Fleet Strength
0                           25.0                       Afghanistan
1                            0.0                           Albania
2                           22.0                           Algeria
3                           18.0                            Angola
4                            7.0                         Argentina

                                           ...         Manpower  \
  Transport Aircraft Fleet Strength value  ... Total Population
0                                    30.0  ...      Afghanistan
1                                     0.0  ...          Albania
2                                    59.0  ...          Algeria
3                                    30.0  ...           Angola
4                                     9.0  ...        Argentina

                                      Geography                               \
  Total Population value Total Square Land Area Total Square Land Area value
0            3,49,40,837            Afghanistan                     6,52,230
1              30,57,220                Albania                      28748.0
2            4,16,57,488                Algeria                    23,81,741
3            3,03,55,880                 Angola                    12,46,700
4            4,46,94,198              Argentina                    27,80,400

                                                           \
  Total Coastline Coverage Total Coastline Coverage value
0              Afghanistan                            0.0
1                  Albania                          362.0
2                  Algeria                          998.0
3                   Angola                         1600.0
4                Argentina                         4989.0

                                                                               \
  Total Waterway Coverage Total Waterway Coverage value Total Border Coverage
0             Afghanistan                        1200.0           Afghanistan
1                 Albania                          41.0               Albania
2                 Algeria                           0.0               Algeria
3                  Angola                        1300.0                Angola
4               Argentina                       11000.0             Argentina


  Total Border Coverage value
0                      5987.0
1                       691.0
2                      6734.0
3                      5369.0
4                     11968.0

[5 rows x 60 columns]

# Ingest Data

In [13]:
df.describe()

                       2020 ranking       Airforce Strength  \
      Military Strength Power Index Aircraft Strength value
count                    138.000000              138.000000
mean                       1.460716              388.471014
std                        1.324018             1231.981859
min                        0.060600                0.000000
25%                        0.574800               33.000000
50%                        1.034100              111.000000
75%                        2.021525              290.250000
max                       10.168100            13264.000000

                                                                         \
      Fighter/Interceptor Strength value Attack Aircraft Strength value
count                         138.000000                     138.000000
mean                           81.565217                      25.760870
std                           230.324777                      94.528222
min                             0.000000                       0.000000
25%                             0.000000                       0.000000
50%                            17.000000                       0.000000
75%                            60.500000                      15.750000
max                          2085.000000                     742.000000

                                                                            \
      Transport Aircraft Fleet Strength value Trainer Aircraft Fleet value
count                              138.000000                   138.000000
mean                                30.231884                    82.833333
std                                 92.330436                   240.803721
min                                  0.000000                     0.000000
25%                                  3.000000                     4.250000
50%                                  9.000000                    26.000000
75%                                 26.000000                    79.250000
max                                945.000000                  2643.000000

                                                                              \
      Helicopter Fleet Strength value Attack Helicopter Fleet Strength value
count                      138.000000                             138.000000
mean                       154.065217                              25.623188
std                        520.183631                              97.326091
min                          0.000000                               0.000000
25%                         15.250000                               0.000000
50%                         44.000000                               2.000000
75%                        126.750000                              17.750000
max                       5768.000000                             967.000000

            Land Strength                         \
      Tank Strength value AFV/APC Strength value
count          138.000000             138.000000
mean           646.565217            2485.695652
std           1515.463683            5410.546392
min              0.000000               0.000000
25%             19.250000             250.250000
50%            153.000000             734.500000
75%            436.250000            2000.000000
max          12950.000000           39253.000000

                                                                              \
      Self-Propelled Artillery Strength value Towed Artillery Strength value
count                              138.000000                     138.000000
mean                               212.159420                     393.978261
std                                688.028987                     805.781703
min                                  0.000000                       0.000000
25%                                  0.000000                      24.250000
50%                                 23.000000                     108.000000
75%                                 97.250000                     296.500000
max                               6083.000000                    4465.000000

                                                   Navy Strength  \
      Rocket Projector Strength value Navy Fleet Strengths value
count                      138.000000                 124.000000
mean                       156.934783                  84.983871
std                        484.380984                 146.114165
min                          0.000000                   0.000000
25%                          0.000000                  10.000000
50%                         24.000000                  38.000000
75%                         99.750000                  77.750000
max                       3860.000000                 984.000000

                                                                            \
      Aircraft Carrier Fleet Strength value Submarine Fleet Strength value
count                            115.000000                     115.000000
mean                               0.382609                       4.800000
std                                1.971653                      13.706958
min                                0.000000                       0.000000
25%                                0.000000                       0.000000
50%                                0.000000                       0.000000
75%                                0.000000                       4.000000
max                               20.000000                      83.000000

                                                                   \
      Destroyer Fleet Strength value Frigate Fleet Strength value
count                     115.000000                   115.000000
mean                        2.052174                     3.521739
std                        10.000740                     6.481211
min                         0.000000                     0.000000
25%                         0.000000                     0.000000
50%                         0.000000                     0.000000
75%                         0.000000                     5.500000
max                        91.000000                    52.000000

                 Logistics                   Geography
      Airport Totals value Total Border Coverage value
count           138.000000                  129.000000
mean            290.043478                 3964.224806
std            1212.967393                 3760.099671
min               2.000000                   29.000000
25%              33.500000                 1587.000000
50%              68.000000                 2816.000000
75%             150.750000                 5267.000000
max           13513.000000                22457.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   (2020 ranking, Military Strength)                             138 non-null    object
 1   (2020 ranking, Military Strength Power Index)                 138 non-null    float64
 2   (Airforce Strength, Aircraft Strength)                        138 non-null    object
 3   (Airforce Strength, Aircraft Strength value)                  138 non-null    float64
 4   (Airforce Strength, Fighter/Interceptor Strength)             138 non-null    object
 5   (Airforce Strength, Fighter/Interceptor Strength value)       138 non-null    float64
 6   (Airforce Strength, Attack Aircraft Strength)                 138 non-null    object
 7   (Airforce Strength, Attack Aircraft Strength value)           138 non-null    float64
 8   (Airforce Strength, Transport Aircraft Fleet Strength)        138 non-null    object
 9   (Airforce Strength, Transport Aircraft Fleet Strength value)  138 non-null    float64
 10  (Airforce Strength, Trainer Aircraft Fleet)                   138 non-null    object
 11  (Airforce Strength, Trainer Aircraft Fleet value)             138 non-null    float64
 12  (Airforce Strength, Helicopter Fleet Strength)                138 non-null    object
 13  (Airforce Strength, Helicopter Fleet Strength value)          138 non-null    float64
 14  (Airforce Strength, Attack Helicopter Fleet Strength)         138 non-null    object
 15  (Airforce Strength, Attack Helicopter Fleet Strength value)   138 non-null    float64
 16  (Land Strength, Tank Strength)                                138 non-null    object
 17  (Land Strength, Tank Strength value)                          138 non-null    float64
 18  (Land Strength, AFV/APC Strength)                             138 non-null    object
 19  (Land Strength, AFV/APC Strength value)                       138 non-null    float64
 20  (Land Strength, Self-Propelled Artillery Strength)            138 non-null    object
 21  (Land Strength, Self-Propelled Artillery Strength value)      138 non-null    float64
 22  (Land Strength, Towed Artillery Strength)                     138 non-null    object
 23  (Land Strength, Towed Artillery Strength value)               138 non-null    float64
 24  (Land Strength, Rocket Projector Strength)                    138 non-null    object
 25  (Land Strength, Rocket Projector Strength value)              138 non-null    float64
 26  (Navy Strength, Navy Fleet Strengths)                         124 non-null    object
 27  (Navy Strength, Navy Fleet Strengths value)                   124 non-null    float64
 28  (Navy Strength, Aircraft Carrier Fleet Strength)              115 non-null    object
 29  (Navy Strength, Aircraft Carrier Fleet Strength value)        115 non-null    float64
 30  (Navy Strength, Submarine Fleet Strength)                     115 non-null    object
 31  (Navy Strength, Submarine Fleet Strength value)               115 non-null    float64
 32  (Navy Strength, Destroyer Fleet Strength)                     115 non-null    object
 33  (Navy Strength, Destroyer Fleet Strength value)               115 non-null    float64
 34  (Navy Strength, Frigate Fleet Strength)                       115 non-null    object
 35  (Navy Strength, Frigate Fleet Strength value)                 115 non-null    float64
 36  (Finances, defense spending budget)                           138 non-null    object
 37  (Finances, defense spending budget value)                     138 non-null    object
 38  (Finances, External Debt)                                     138 non-null    object
 39  (Finances, External Debt value)                               138 non-null    object
 40  (Logistics, Airport Totals)                                   138 non-null    object
 41  (Logistics, Airport Totals value)                             138 non-null    float64
 42  (Natural resources, Oil Production)                           138 non-null    object
 43  (Natural resources, Oil Production value)                     138 non-null    object
 44  (Natural resources, Oil Consumption)                          138 non-null    object
 45  (Natural resources, Oil Consumption value)                    138 non-null    object
 46  (Natural resources, Proven Oil Reserves)                      138 non-null    object
 47  (Natural resources, Proven Oil Reserves value)                138 non-null    object
 48  (Manpower, Available Manpower)                                138 non-null    object
 49  (Manpower, Available Manpower value)                          138 non-null    object
 50  (Manpower, Total Population)                                  138 non-null    object
 51  (Manpower, Total Population value)                            138 non-null    object
 52  (Geography, Total Square Land Area)                           138 non-null    object
 53  (Geography, Total Square Land Area value)                     138 non-null    object
 54  (Geography, Total Coastline Coverage)                         109 non-null    object
 55  (Geography, Total Coastline Coverage value)                   109 non-null    object
 56  (Geography, Total Waterway Coverage)                          138 non-null    object
 57  (Geography, Total Waterway Coverage value)                    138 non-null    object
 58  (Geography, Total Border Coverage)                            129 non-null    object
 59  (Geography, Total Border Coverage value)                      129 non-null    float64
dtypes: float64(20), object(40)
memory usage: 64.8+ KB

# EDA

In [10]:
df = df.rename(columns={'Military Strength': 'Country'})

In [11]:
df.shape

(138, 60)

In [14]:
df.isna().sum().any()

True

In [15]:
df.duplicated().sum()

0

In [16]:

df.columns

MultiIndex([(     '2020 ranking',                                 'Country'),
            (     '2020 ranking',           'Military Strength Power Index'),
            ('Airforce Strength',                       'Aircraft Strength'),
            ('Airforce Strength',                 'Aircraft Strength value'),
            ('Airforce Strength',            'Fighter/Interceptor Strength'),
            ('Airforce Strength',      'Fighter/Interceptor Strength value'),
            ('Airforce Strength',                'Attack Aircraft Strength'),
            ('Airforce Strength',          'Attack Aircraft Strength value'),
            ('Airforce Strength',       'Transport Aircraft Fleet Strength'),
            ('Airforce Strength', 'Transport Aircraft Fleet Strength value'),
            ('Airforce Strength',                  'Trainer Aircraft Fleet'),
            ('Airforce Strength',            'Trainer Aircraft Fleet value'),
            ('Airforce Strength',               'Helicopter Fleet Strength'),
            ('Airforce Strength',         'Helicopter Fleet Strength value'),
            ('Airforce Strength',        'Attack Helicopter Fleet Strength'),
            ('Airforce Strength',  'Attack Helicopter Fleet Strength value'),
            (    'Land Strength',                           'Tank Strength'),
            (    'Land Strength',                     'Tank Strength value'),
            (    'Land Strength',                        'AFV/APC Strength'),
            (    'Land Strength',                  'AFV/APC Strength value'),
            (    'Land Strength',       'Self-Propelled Artillery Strength'),
            (    'Land Strength', 'Self-Propelled Artillery Strength value'),
            (    'Land Strength',                'Towed Artillery Strength'),
            (    'Land Strength',          'Towed Artillery Strength value'),
            (    'Land Strength',               'Rocket Projector Strength'),
            (    'Land Strength',         'Rocket Projector Strength value'),
            (    'Navy Strength',                    'Navy Fleet Strengths'),
            (    'Navy Strength',              'Navy Fleet Strengths value'),
            (    'Navy Strength',         'Aircraft Carrier Fleet Strength'),
            (    'Navy Strength',   'Aircraft Carrier Fleet Strength value'),
            (    'Navy Strength',                'Submarine Fleet Strength'),
            (    'Navy Strength',          'Submarine Fleet Strength value'),
            (    'Navy Strength',                'Destroyer Fleet Strength'),
            (    'Navy Strength',          'Destroyer Fleet Strength value'),
            (    'Navy Strength',                  'Frigate Fleet Strength'),
            (    'Navy Strength',            'Frigate Fleet Strength value'),
            (         'Finances',                 'defense spending budget'),
            (         'Finances',           'defense spending budget value'),
            (         'Finances',                           'External Debt'),
            (         'Finances',                     'External Debt value'),
            (        'Logistics',                          'Airport Totals'),
            (        'Logistics',                    'Airport Totals value'),
            ('Natural resources',                          'Oil Production'),
            ('Natural resources',                    'Oil Production value'),
            ('Natural resources',                         'Oil Consumption'),
            ('Natural resources',                   'Oil Consumption value'),
            ('Natural resources',                     'Proven Oil Reserves'),
            ('Natural resources',               'Proven Oil Reserves value'),
            (         'Manpower',                      'Available Manpower'),
            (         'Manpower',                'Available Manpower value'),
            (         'Manpower',                        'Total Population'),
            (         'Manpower',                  'Total Population value'),
            (        'Geography',                  'Total Square Land Area'),
            (        'Geography',            'Total Square Land Area value'),
            (        'Geography',                'Total Coastline Coverage'),
            (        'Geography',          'Total Coastline Coverage value'),
            (        'Geography',                 'Total Waterway Coverage'),
            (        'Geography',           'Total Waterway Coverage value'),
            (        'Geography',                   'Total Border Coverage'),
            (        'Geography',             'Total Border Coverage value')],
           )

## Implement basic steps to see how is your data looks like

## Convert multi index columns to one level

## Detect and drop duplicated columns

## Check for missing values

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values ​​comparing with similar countries
* Hint-2, Georeferences of countries can help you

## Fix the dtypes

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

## Visualy inspect the some features

## Decriptive statistics

# Data Preprocessing

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

### Model Building and label visualisation

### Evaluate

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate